* {
  font-family: Helvetica;
}
body {
  margin: 0px;
  /* background-color: black; */
}

/* ////main tags css */

#tags {
  width: 87%;
  margin: 1% auto auto auto;
  height: 210px;
}

#funF {
  width: 100%;
  font-size: 1.5vw;
  color: rgb(175, 216, 235);
  text-align: center;
  font-weight: 600;
}

#exploreDiv {
  display: flex;
  font-size: 1vw;
  font-weight: 600;
  color: rgb(184, 184, 198);
  margin: 1% 0 0 0;
  gap: 81%;
}

#allBoxesDiv {
  width: 100%;
  margin: 1% auto auto auto;
  height: 65%;
  display: grid;
  grid-template-columns: 17% 82.7%;
  grid-gap: 0.8%;
}
/* 
#allBoxesDiv > div{
    border-radius: 10px;
} */

#smallBoxes {
  display: grid;
  grid-template-columns: repeat(9, 10.2%);
  grid-gap: 0.9%;
  border-radius: 3px;
}

.imgDiv {
  width: 100%;
  height: 55%;
}

.imgDiv5 {
  width: 100%;
  height: 25%;
}

.imgDiv6 {
  width: 100%;
  height: 35%;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
}

.textDiv {
  width: 100%;
  height: 45%;
  margin-top: -2px;
  box-sizing: border-box;
  padding-top: 5%;
  border-radius: 0 0 4px 4px;
}

.textDiv5 {
  width: 100%;
  height: 75%;
  box-sizing: border-box;
  padding-top: 7%;
  margin-top: -2px;
  border-radius: 0 0 4px 4px;
}

.textDiv5 > div:nth-child(1) {
  margin-bottom: 11%;
}

.textDiv6 {
  width: 100%;
  height: 65%;
  margin-top: -2px;
  box-sizing: border-box;
  padding-top: 5%;
  border-radius: 0 0 4px 4px;
}

.textDiv6 > div:nth-child(1) {
  margin-bottom: 15%;
}

.headText {
  font-size: 0.9vw;
  font-weight: 600;
  color: white;
  text-align: center;
}

.fetDiv{
    font-size: .75vw;
    font-weight: 600;
    text-align: center;
    color: white;
    opacity: .5;
    margin-top: 3%;
    /* z-index: -1; */
    position: relative;
}

#smallBoxes > div > div:nth-child(2) > div:nth-child(1) {
  margin-top: 6.5%;
}

.img1 {
  background-image: url("./images/img1.jpg");

  background-size: auto 115px;
  background-repeat: repeat-x;
  background-position: 100% 0;
  border-radius: 4px 4px 0 0;
}

.img2 {
  background-image: url("./images/img2.jpg");
  background-size: auto 115px;
  background-repeat: repeat-x;
  background-position: 100% 0;
  border-radius: 4px 4px 0 0;
}

.img3 {
  background-image: url("./images/img3.jpg");
  background-size: auto 115px;
  background-repeat: repeat-x;
  background-position: 100% 0;
  border-radius: 4px 4px 0 0;
}

.img4 {
  background-image: url("./images/img4.jpg");
  background-size: auto 115px;
  background-repeat: repeat-x;
  background-position: 100% 0;
  border-radius: 4px 4px 0 0;
}
.img5 {
  background-image: url("./images/img5.jpg");
  background-size: auto 115px;
  background-repeat: repeat-x;
  background-position: 100% 0;
  border-radius: 4px 4px 0 0;
}
.img6 {
  background-image: url("./images/img6.jpg");
  background-size: auto 115px;
  background-repeat: repeat-x;
  background-position: 100% 0;
  border-radius: 4px 4px 0 0;
}
.img7 {
  background-image: url("./images/img7.jpg");
  background-size: auto 115px;
  background-repeat: repeat-x;
  background-position: 100% 0;
  border-radius: 4px 4px 0 0;
}
.img8 {
  background-image: url("./images/img8.png");
  background-size: auto 115px;
  background-repeat: repeat-x;
  background-position: 100% 0;
  border-radius: 4px 4px 0 0;
}
.img9 {
  background-image: url("./images/img9.jpg");
  background-size: auto 115px;
  background-repeat: repeat-x;
  background-position: 100% 0;
  border-radius: 4px 4px 0 0;
}
.img10 {
  background-image: url("./images/img10.jpg");
  background-size: auto 115px;
  background-repeat: repeat-x;
  background-position: 100% 0;
  border-radius: 4px 4px 0 0;
}

.bC1 {
  background-color: rgb(38, 97, 111);
}

.bC2 {
  background-color: rgb(76, 84, 155);
}

.bC3 {
  background-color: rgb(51, 140, 103);
}

.bC4 {
  background-color: rgb(197, 101, 121);
}

.bC6 {
  background-color: rgb(228, 125, 87);
}

.bC7 {
  background-color: rgb(18, 44, 49);
}

.bC8 {
  background-color: rgb(42, 27, 90);
}
.bC9 {
  background-color: rgb(187, 81, 158);
}
.bC10 {
  background-color: rgb(170, 129, 184);
}

#oneBigBox:hover {
  transform: translateY(-3px);
  transition: all linear 0.2s;
  cursor: pointer;
}

#smallBoxes > div:hover {
  transform: translateY(-3px);
  transition: all linear 0.2s;
  cursor: pointer;
}

/* ///////main tags css ends */


/* //main images Box started */

#allImagesBox {
  width: 83%;
  margin: 2% auto auto auto;
  display: flex;
  /* gap: 48%; */
  color: rgb(187, 191, 196);
}

.imgBoxText {
  font-size: 1.2vw;
  font-weight: 600;
}


.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #53565d;
  width: 197%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 23px;
  margin-top: 5px;
  letter-spacing: 1px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.imgBoxText {
  font-size: 1.1vw;
  font-weight: 600;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #b4b9c2;
}
.dropdown-content a:nth-child(1):hover {
  background-color: #b4b9c2;
  border-radius: 23px 23px 0px 0px;
}
.dropdown-content a:nth-child(3):hover {
  background-color: #b4b9c2;
  border-radius: 0px 0px 23px 23px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 10;
  position: absolute;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownFirstOption {
  font-weight: 500;
  color: #fff;
}

#allImagesBox > div:nth-child(1) {
  display: flex;
  width: 15%;
}

#roundIcon {
  font-size: 2.8vw;
  margin: -7% 0 0 -5%;
  cursor: pointer;
}

#roundIcon1 {
  font-size: 2.8vw;
  margin: -9% 0 0 -5%;
}

#allImagesBox > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  /* width: 40%; */
}

#allImagesBox > div:nth-child(2) {
  display: flex;
  gap: 10%;
  margin-left: 65%;
}

#a {
  margin-top: -1%;
}
#b {
  margin-top: 1%;
}

#imagesBox {
  margin: 0% auto auto auto;
  width: 83%;
  columns: 5;
  column-gap: 1.2%;
}

#imagesBox > div {
  width: 100%;
  margin-bottom: 2%;
  break-inside: avoid;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#imagesBox > div:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.2s linear all;
}

#imagesBox > div > img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}


#imagesBox>div>div>div:nth-child(2)>div:nth-child(1){
    transform: scale(.7);
    
    color: white;
    opacity: .4;
    display: flex;
    
}


#imagesBox>div>div>div:nth-child(2)>div:nth-child(2):hover{
   opacity: 1;
    cursor: pointer;
}

#imagesBox > div > div > div:nth-child(2) > div:nth-child(1):hover {
  color: #00e78e;
  cursor: pointer;
}




#imagesBox>div>div>div:nth-child(2)>div:nth-child(1)>div{
    
    transform: translateY(-5%);
    color: white;
    margin: 12% 0 0 12%;
    

}


#imagesBox>div>div>div:nth-child(2)>div:nth-child(2){
    transform: scale(.7);
    
    color: white;
    opacity: .4;
    display: flex;
}

#imagesBox > div > div > div:nth-child(2) > div:nth-child(3):hover {
  opacity: 1;
  cursor: pointer;
}

#imagesBox > div > div > div:nth-child(2) > div:nth-child(1) > div {
  transform: translateY(-5%);
  color: white;
  margin: 12% 0 0 12%;
}

#imagesBox > div > div > div:nth-child(2) > div:nth-child(2) {
  transform: scale(0.7);
}

#imagesBox>div>div>div:nth-child(2)>div:nth-child(2)>div{
    
    transform: translateY(-5%);
    color: white;
    margin: 12% 0 0 12%;
    
}


#imagesBox>div>div>div:nth-child(2)>div:nth-child(3){
    transform: scale(.7);
    
    color: white;
    opacity: .4;
    display: flex;
    
  color: white;
  opacity: 0.4;
  display: flex;
}

#imagesBox > div > div > div:nth-child(2) > div:nth-child(2) > div {
  transform: translateY(-5%);
  color: white;
  margin: 12% 0 0 12%;
}

#imagesBox > div > div > div:nth-child(2) > div:nth-child(3) {
  transform: scale(0.7);

  color: white;
  opacity: 0.4;
  display: flex;
}

#imagesBox > div > div > div:nth-child(2) > div:nth-child(3) > div {
  transform: translateY(-5%);
  color: white;
  margin: 12% 0 0 12%;
}

div {
  /* border: .2px solid black; */
}

/* /////////////////////my work//////////////// */



body {
  background-color: #2e3035;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*/////////////// nav css //////////////*/

.backgroundImg {
  background: url("./images/bg.png") no-repeat;
  /* background-size: cover; */
  /* width: 100%; */
  height: 18%;
  background-color: #2e3035;
}
#navContainer.fixNav {
  position: fixed;
  width: 98%;
  top: 0;
  box-shadow: 0 0 25px 5px #000;
  z-index: 999;
  background: url("./images/bg.png") no-repeat;
  background-size: cover;
}

#navContainer.fixNav {
  position: fixed;
  width: 98%;
  top: 0;
  box-shadow: 0 0 25px 5px #000;
  z-index: 999;
  background: url("./images/bg.png") no-repeat;
  background-size: cover;
}

#navContainer {
  display: flex;
  /* border: 1px solid red; */
  padding: 17px;
  justify-content: space-between;
}

#leftNav {
  display: flex;
  width: 15.5%;
  justify-content: space-between;
  height: 35px;
}

.newPostBtn {
  display: flex;
  padding: 8px 10px 1px 9px;
  background-color: #1bb76e;
  box-shadow: 0 6px 10px 0 rgb(27 28 30 / 31%);
  color: #fff;
  white-space: nowrap;
  height: 35px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}

.newPostBtn:hover {
  opacity: 0.7;
}

.newPostBtn p {
  margin-top: 8%;
  padding-left: 12px;
}

.navInputBox {
  display: flex;
  justify-content: right;
  align-items: center;
}
.navInputBox input {
  background-color: #454469;
  width: 35vw;
  height: 35px;
  opacity: 0.8;
  font-size: 1.1vw;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  margin-right: -7%;
    padding-left: 10px;
    outline: none;
    border: transparent;
    transition: all .2s linear;
}

input:focus{
    opacity: 1;
}
.navInputBox input::placeholder {
  color: #c2c2c2;
  margin-left: 10px;
  font-size: .9vw;
  font-weight: 500;
  /* padding: 10px; */
}

.navInputBox i{
      margin-right: -1.7%;
}

.fa-solid {
  font-size: 20px;
  color: #fff;
  position: absolute;
  /* margin-right: 5.5%; */
  margin-left: 1.5%;
}

#rightNav {
  display: flex;
  align-items: center;
  width: 23%;
  justify-content: space-between;
  text-align: center;
  height: 35px;
  color: #fff;
}

#rightNav svg:hover {
  opacity: 0.2;
}

.titleAnchor {
  color: red;
}

/* reuse classes */
.button {
  box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
  width: 97px;
  height: 37px;
  align-items: center;
  cursor: pointer;
}
.button:hover {
  opacity: 0.7;
}

.violet {
  background: #6432f9;
  border-radius: 6px;
}

.green {
  background-color: #1bb76e;
  border-radius: 6px;
}

/* ///// reuse classes ends//////// */

#rightNav p {
  margin-top: 9%;
}

.searchResultDiv{
    width: 35.8%;
    max-height: 300px;
    position: absolute;
    background-color: rgb(60,66,75);
    margin: -1% 0 0 31%;
    border-radius: 8px;
    transition: linear all .2s;
    z-index: 5;
    display: none;
    z-index: 999;
    /* display: block; */
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.searchResultDiv>div{
  padding: 1.5%;
  height: 20px;
}

.searchResultDiv>div:hover{
  cursor: pointer;
  background-color: rgb(103,107,112);

}

::-webkit-scrollbar {
  display: none;
}

/* /////// navbar css ends//////// */