*{
    font-family:  Helvetica;
    
}
body{
    margin: 0px;
}

#tags{

    width: 87%;
    margin:5% auto auto auto;
    height: 210px;
}

#funF{
    width: 100%;
    font-size: 1.4vw ;
    color: rgb(175,216,235);
    text-align: center;
    font-weight: 600;
}

#exploreDiv{
    display: flex;
    font-size: 1.1vw;
    font-weight: 600;
    color: rgb(184,184,198);
    margin: 1% 0 0 0 ;
    gap: 81%;
}

#allBoxesDiv{

    width: 100%;
    margin: 1% auto auto auto;
    height: 65%;
    display: grid;
    grid-template-columns: 17% 82.7% ;
    grid-gap: .8%;
}
/* 
#allBoxesDiv > div{
    border-radius: 10px;
} */


#smallBoxes{
    display: grid;
    grid-template-columns: repeat(9,10.2%);
    grid-gap: .9%;
    border-radius: 3px;
}


.imgDiv{
    width: 100%;
    height: 55%;
}

.imgDiv5{
    width: 100%;
    height: 25%;
}


.imgDiv6{
    width: 100%;
    height: 35%;
}



.img{
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
}


.textDiv{
    width: 100%;
    height: 45%;
    margin-top: -2px;
    box-sizing: border-box;
    padding-top: 5%;
    border-radius: 0 0 4px 4px;
}

.textDiv5{
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    padding-top: 7%;
    margin-top: -2px;
    border-radius: 0 0 4px 4px;
}

.textDiv5 >div:nth-child(1){
    margin-bottom: 11%;
}


.textDiv6{
    width: 100%;
    height: 65%;
    margin-top: -2px;
    box-sizing: border-box;
    padding-top: 5%;
    border-radius: 0 0 4px 4px;
}


.textDiv6 >div:nth-child(1){
    margin-bottom: 15%;
}

.headText{
    font-size: .9vw;
    font-weight: 600;
    color: white;
    text-align: center;
}

.fetDiv{
    font-size: .75vw;
    font-weight: 600;
    text-align: center;
    color: white;
    opacity: .5;
    margin-top: 3%;
}

#smallBoxes>div>div:nth-child(2)>div:nth-child(1){
    margin-top: 6.5%;
}

.img1{
    background-image: url("./images/img1.jpg");
    
    background-size: auto 115px;
    background-repeat: repeat-x;
    background-position: 100% 0;
    border-radius: 4px 4px 0 0;
    
}

.img2{
    background-image: url("./images/img2.jpg");
    background-size: auto 115px;
    background-repeat: repeat-x;
    background-position: 100% 0;
    border-radius: 4px 4px 0 0;
}

.img3{
     background-image: url("./images/img3.jpg");
    background-size: auto 115px;
    background-repeat: repeat-x;
    background-position: 100% 0;
    border-radius: 4px 4px 0 0;
}

.img4{
     background-image: url("./images/img4.jpg");
    background-size: auto 115px;
    background-repeat: repeat-x;
    background-position: 100% 0;
    border-radius: 4px 4px 0 0;
}
.img5{
     background-image: url("./images/img5.jpg");
    background-size: auto 115px;
    background-repeat: repeat-x;
    background-position: 100% 0;
    border-radius: 4px 4px 0 0;
}
.img6{
     background-image: url("./images/img6.jpg");
    background-size: auto 115px;
    background-repeat: repeat-x;
    background-position: 100% 0;
    border-radius: 4px 4px 0 0;
}
.img7{
     background-image: url("./images/img7.jpg");
    background-size: auto 115px;
    background-repeat: repeat-x;
    background-position: 100% 0;
    border-radius: 4px 4px 0 0;
}
.img8{
     background-image: url("./images/img8.png");
    background-size: auto 115px;
    background-repeat: repeat-x;
    background-position: 100% 0;
    border-radius: 4px 4px 0 0;
}
.img9{
     background-image: url("./images/img9.jpg");
    background-size: auto 115px;
    background-repeat: repeat-x;
    background-position: 100% 0;
    border-radius: 4px 4px 0 0;
}
.img10{
     background-image: url("./images/img10.jpg");
    background-size: auto 115px;
    background-repeat: repeat-x;
    background-position: 100% 0;
    border-radius: 4px 4px 0 0;
}

.bC1{
    background-color: rgb(38,97,111);
}

.bC2{
    background-color: rgb(76,84,155);
}

.bC3{
    background-color: rgb(51,140,103);
    
}

.bC4{
    background-color: rgb(197,101,121);
}

.bC6{
    background-color: rgb(228,125,87);
}

.bC7{
    background-color: rgb(18,44,49);
}

.bC8{
    background-color: rgb(42,27,90);
}
.bC9{
    background-color: rgb(187,81,158);
}
.bC10{
    background-color: rgb(170,129,184);
}


#oneBigBox:hover{
    transform: translateY(-3px);
    transition: all linear .2s;
    cursor: pointer;
    
}


#smallBoxes>div:hover{
    transform: translateY(-3px);
    transition: all linear .2s;
    cursor: pointer;
    
}



div{
    /* border: .2px solid black; */
}